@import url('https://fonts.googleapis.com/css?family=Signika:300|Sunflower:300');

@media only screen and (min-width: 700px) {
  main {
    width: 61%;
    margin: auto;
  }
}

main {
  font-family: 'Signika';
  font-size: 20px;
}

p {
  margin: 0;
  padding: 0;
}

br {
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sunflower', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 2px;
}

h1 > a, h2 > a {
  color: #000000;
  text-decoration: none;
}

h1 > a:hover, h2 > a:hover {
  color: #393939;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  text-align: left;
}

div#title > h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px
}

header {
  border-bottom: 2px solid black;
}

article {
  margin-bottom: 36px;
}

div.byline {
  font-size: 16px;
}

span.by1 {
  color: #575757;
}

span.by2 {
  color: #000000;
  margin-right: 18px;
}

div.preview {
  margin-top: 9px;
}

div#body {
  margin-top: 18px;
}
